# Numbers

In [5]:
2 + 1

3

In [6]:
3 * 5

15

In [11]:
3 / 2.0

1.5

In [15]:
2 ** 3

8

In [16]:
3 ** 2

9

In [19]:
(2 + 10)          * 3-4

32

In [20]:
a = 5

In [21]:
b = 10.3

In [22]:
type(a)

int

In [23]:
a = 1.5

float

In [24]:
a + a

3.0

In [25]:
a = a + a

In [26]:
a

3.0

In [27]:
a = a + 1

In [28]:
a

4.0

In [30]:
a += 1 # a = a + 1

In [33]:
my_income = 100
tax_rate = 0.105
my_taxes = my_income * tax_rate

In [34]:
print(my_taxes)

10.5

# String
‘ ’ 
“ ”

In [35]:
'hello'

'hello'

In [36]:
"啦啦啦啦"

'啦啦啦啦'

In [37]:
'I'm so happy today'

SyntaxError: invalid syntax (<ipython-input-37-4a90dbd27dc3>, line 1)

In [38]:
"I'm so happy today"

"I'm so happy today"

In [39]:
a = 'hello world'

In [44]:
print(a) # function
print('xixixi\n')
print('\n')
print('lala\tla')

hello world
xixixi



lala	la

In [41]:
type(a)

str

In [45]:
len(a)

11

In [46]:
a[0]

'h'

In [47]:
a[1]

'e'

In [48]:
a[1:]

'ello world'

In [49]:
a[:4]

'hell'

In [50]:
a[1:4]

'ell'

In [51]:
a[1] + a[2] + a[3]

'ell'

In [53]:
a[:]

'hello world'

In [54]:
a[-1]

'd'

In [55]:
a[:-1]

'hello worl'

In [56]:
a[::2]

'hlowrd'

In [57]:
a[::-1]

'dlrow olleh'

In [60]:
a[3] = 'r'

TypeError: 'str' object does not support item assignment

In [61]:
a.upper()

'HELLO WORLD'

In [62]:
a.lower()

'hello world'

In [64]:
a.split('o')

['hell', ' w', 'rld']

In [66]:
a.split()

['hello', 'world']

# List
[ ]

In [67]:
my_list = [1, 2, 3, 4]

In [68]:
type(my_list)

list

In [69]:
l2 = [1, 2.3, "three", [4, 5]]

In [70]:
len(l2)

4

In [74]:
l2[-1]

[4, 5]

In [75]:
l2[-1][0]

4

In [76]:
l2[1:]

[2.3, 'three', [4, 5]]

In [78]:
l2[0] = 2333333

In [79]:
l2

[2333333, 2.3, 'three', [4, 5]]

In [80]:
l = [1, 2, 3]

In [81]:
l.append(4)

In [82]:
l

[1, 2, 3, 4]

In [83]:
l.append('five')

In [84]:
l

[1, 2, 3, 4, 'five']

In [85]:
l.pop()

'five'

In [86]:
l

[1, 2, 3, 4]

In [87]:
l.pop(0)

1

In [88]:
l

[2, 3, 4]

In [89]:
l = [1, 3, 45, 32, 544, 3, -4, -23]

In [92]:
l.sort(reverse=True)

In [93]:
l

[544, 45, 32, 3, 3, 1, -4, -23]

In [94]:
l = [1, 3, 45, 32, 544, 3, -4, -23]
l.sort()
l[::-1]

[544, 45, 32, 3, 3, 1, -4, -23]

In [96]:
s = "hello,world"
s.split(',')

['hello', 'world']

In [98]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
lst3 = [7, 8, 9]
matrix = [lst1, lst2, lst3]

In [100]:
matrix[1][1]

5

In [101]:
a = "chichi"
a[2]

'i'

In [102]:
a = 10
a[0]

TypeError: 'int' object is not subscriptable

# List Comprehensions

In [173]:
l = [1, 2, 3, 4, 5, 6, 7, 8]


[num*2 + 3 for num in l]

[5, 7, 9, 11, 13, 15, 17, 19]

# Dictionary 
## Hash table
{ }

In [104]:
my_d = {'key1':2333, 'key2':[2, 3, 4]}

In [105]:
type(my_d)

dict

In [106]:
my_d['key1']

2333

In [107]:
my_d['key2']

[2, 3, 4]

In [108]:
my_d = {'key1':2333, 'key2':[2, 3, 4], 'key3':'XIxixiHaha'}

In [109]:
my_d['key3'].upper()

'XIXIXIHAHA'

In [137]:
my_d['key3'] = 'Wahahahahha'

In [138]:
my_d

{'key1': 2333, 'key2': [2, 3, 4], 'key3': 'Wahahahahha'}

In [110]:
d = {}

In [111]:
d['animal'] = 'Dog'
d['answer'] = 42

In [112]:
d

{'animal': 'Dog', 'answer': 42}

In [113]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [116]:
d['key1']['nestkey']['subnestkey']

'value'

In [117]:
my_d.keys()

dict_keys(['key1', 'key3', 'key2'])

In [118]:
my_d.values()

dict_values([2333, 'XIxixiHaha', [2, 3, 4]])

In [119]:
my_d.items()

dict_items([('key1', 2333), ('key3', 'XIxixiHaha'), ('key2', [2, 3, 4])])

# Tuple
( )

In [122]:
t = (1, 2, 3)

In [123]:
len(t)

3

In [124]:
t[0]

1

In [125]:
t[0] = 23333

TypeError: 'tuple' object does not support item assignment

# Set

In [127]:
x = set()

In [128]:
type(x)

set

In [129]:
l = [1, 2, 1, 2, 3, 4, 5, 4, 5, 6]

In [130]:
x.add(1)

In [131]:
x

{1}

In [132]:
x.add(2)
x

{1, 2}

In [133]:
x.add(1)
x

{1, 2}

In [134]:
active = set(l)
active

{1, 2, 3, 4, 5, 6}

In [135]:
list(active)

[1, 2, 3, 4, 5, 6]

In [136]:
list(set(l))

[1, 2, 3, 4, 5, 6]

# Booleans

In [140]:
type(1 > 2)

bool

In [141]:
2 > 1

True

In [153]:
b = None

In [143]:
b = 3 >= 3

In [144]:
b

True

# Comparison Operators

In [145]:
3 > 2

True

In [146]:
1 <= 2

True

In [148]:
a = 5

In [149]:
a == 5

True

In [150]:
3 == 3.0

True

In [151]:
3 is 3.0

False

In [154]:
2 != 1

True

# If ,elif, else

In [156]:
if 2 > 1:
    print('It is ture')

It is ture

In [159]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9

In [160]:
7 % 3

1

In [161]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print('it is an odd number')

it is an odd number
2
it is an odd number
4
it is an odd number
6
it is an odd number
8
it is an odd number

In [162]:
total = 0

for x in range(1, 101):
    total = total + x
    
print(total)

5050

In [163]:
for x in "XIXIXI hahah lala kakaka":
    print(x)

X
I
X
I
X
I

h
a
h
a
h

l
a
l
a

k
a
k
a
k
a

In [164]:
for x in range(1, 101):
    if x % 7 == 0:
        print("xixixi")
    elif x % 15 == 0:
        print('lalala')
    elif x % 37 == 0:
        print('jiujiujiu')
    else:
        print(x)

1
2
3
4
5
6
xixixi
8
9
10
11
12
13
xixixi
lalala
16
17
18
19
20
xixixi
22
23
24
25
26
27
xixixi
29
lalala
31
32
33
34
xixixi
36
jiujiujiu
38
39
40
41
xixixi
43
44
lalala
46
47
48
xixixi
50
51
52
53
54
55
xixixi
57
58
59
lalala
61
62
xixixi
64
65
66
67
68
69
xixixi
71
72
73
jiujiujiu
lalala
76
xixixi
78
79
80
81
82
83
xixixi
85
86
87
88
89
lalala
xixixi
92
93
94
95
96
97
xixixi
99
100

# While

In [165]:
x = 0

while x < 10:
    print('x is current:',x)
    x += 1

x is current: 0
x is current: 1
x is current: 2
x is current: 3
x is current: 4
x is current: 5
x is current: 6
x is current: 7
x is current: 8
x is current: 9

# Break, continue

In [167]:
x = 0

while x < 10:
    print('x is current:', x)
    x += 1
    if x == 3:
        print('x is 3')
    else:
        print('coutinuing...')
        continue
        print('lalalala xixixi')

x is current: 0
coutinuing...
x is current: 1
coutinuing...
x is current: 2
x is 3
x is current: 3
coutinuing...
x is current: 4
coutinuing...
x is current: 5
coutinuing...
x is current: 6
coutinuing...
x is current: 7
coutinuing...
x is current: 8
coutinuing...
x is current: 9
coutinuing...

In [168]:
x = 0

while x < 10:
    print('x is current:', x)
    x += 1
    if x == 3:
        print('x is 3')
        break
    else:
        print('coutinuing...')
        continue
        print('lalalala xixixi')

x is current: 0
coutinuing...
x is current: 1
coutinuing...
x is current: 2
x is 3

In [169]:
for x in range(100000000000):
    if x < 10:
        print(x)
    else:
        break

0
1
2
3
4
5
6
7
8
9

In [172]:
for x in range(1, 101):
    print(x/10)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9
5.0
5.1
5.2
5.3
5.4
5.5
5.6
5.7
5.8
5.9
6.0
6.1
6.2
6.3
6.4
6.5
6.6
6.7
6.8
6.9
7.0
7.1
7.2
7.3
7.4
7.5
7.6
7.7
7.8
7.9
8.0
8.1
8.2
8.3
8.4
8.5
8.6
8.7
8.8
8.9
9.0
9.1
9.2
9.3
9.4
9.5
9.6
9.7
9.8
9.9
10.0

In [174]:
import numpy
import matplotlib

def cubic(x):
    return x ** 3

cubic(2)

8

In [177]:
for i in range(10000000000):
    a=1
print('xixi')

KeyboardInterrupt:

In [178]:
x = 3 
y = 5

In [179]:
(x+y)/x*y > 1/x + 1/y

True

In [180]:
(p+q)

NameError: name 'p' is not defined